@charset "UTF-8";
.header {
    background-color: black;
}
.header__inner{
    padding: 20px;
}
.header__logo {
    color: #fff;
    text-decoration: none;
    padding: 30px;
    font-size: 24px;
    font-weight: bold;
}